# Siehe https://help.github.com/articles/ignoring-files/ für mehr Informationen zum Ignorieren von Dateien.

# dependencies
/node_modules
/.pnp
.pnp.js
.next

# testing
/coverage

# next.js
/out/
/Out/
/.next/cache/webpack/client-production/0.pack
.next/cache/webpack/server-production/0.pack
.next/cache/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
# .vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
